@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
}

/* Keyframes */

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes typing {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@layer utilities {
  /* Fonts */

  .font-family-header {
    font-family: var(--font-roboto-slab);
    @apply font-bold;
  }

  .font-family-secondary {
    font-family: var(--font-montserrat);
    @apply font-semibold;
  }

  .font-family-regular {
    font-family: var(--font-manrope);
    @apply font-normal;
  }

  .font-family-regular-extra-light {
    font-family: var(--font-manrope);
    @apply font-extralight;
  }

  .font-family-italic {
    font-family: var(--font-playfair-display);
    @apply font-normal italic;
  }

  .font-family-condensed {
    font-family: var(--font-roboto-condensed);
    @apply font-normal;
  }

  .glassmorph {
    background: rgba(86, 86, 86, 0.25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }

  .glassmorph-padding {
    padding: 2rem;
  }

  .text-shadow-gold {
    text-shadow: 0px 4px 15px theme("colors.gold");
  }

  .text-shadow-gold-sm {
    text-shadow: 0px 4px 15px rgba(178, 139, 74, 0.25);
  }

  /* Carousel styles */

  .carousel-icon-disabled {
    fill: #4d4d4d;
  }

  .carousel-icon-enabled {
    fill: #000000;
  }

  .carousel-dot-selected {
    background-color: #000000;
  }

  @media (prefers-color-scheme: dark) {
    .carousel-icon-disabled {
      fill: #b3b3b3;
    }

    .carousel-icon-enabled {
      fill: #ffffff;
    }

    .carousel-dot-selected {
      background-color: #ffffff;
    }
  }

  /* Animations */

  .fade-in {
    animation: fade-in 0.5s forwards;
  }

  .fade-out {
    animation: fade-out 0.5s forwards;
  }

  .link-hover-scale {
    @apply before:relative before:block before:h-px before:w-0 before:border-t-2 before:border-t-gold before:duration-150 after:relative after:ml-auto after:block after:h-px after:w-0 after:border-t-2 after:border-t-gold after:duration-150 hover:before:w-full hover:after:w-full;
  }

  .typewriter::after {
    animation: typing 1s infinite;
  }

  .dots {
    /* Change these variables to change the effect's duration or delay */
    --typing-duration: 1.5s; /* Total loop duration */
    --typing-steps: 6; /* The number of steps (usually should be kept as 2 times the number of dots */
    --typing-step-duration: calc(var(--typing-duration) / var(--typing-steps));
  }

  .dots div {
    animation: typing var(--typing-duration) steps(1) infinite;
  }

  .dots div:nth-child(1) {
    animation-delay: calc(var(--typing-step-duration) * 0);
  }
  .dots div:nth-child(2) {
    animation-delay: calc(var(--typing-step-duration) * 1);
  }
  .dots div:nth-child(3) {
    animation-delay: calc(var(--typing-step-duration) * 2);
  }
}

@layer components {
  .burger-menu {
    @apply block h-1 w-8 bg-white duration-500;
  }

  .burger-menu::before,
  .burger-menu::after {
    @apply absolute block h-1 w-8 bg-white duration-500 content-[''];
  }

  .burger-menu::before {
    @apply -translate-y-2;
  }

  .burger-menu::after {
    @apply translate-y-2;
  }

  .burger-menu-open .burger-menu {
    @apply -translate-x-16 bg-opacity-0 duration-500;
  }

  .burger-menu-open .burger-menu::before,
  .burger-menu-open .burger-menu::after {
    @apply translate-x-16 duration-500;
  }

  .burger-menu-open .burger-menu::before {
    @apply translate-y-0 rotate-45;
  }

  .burger-menu-open .burger-menu::after {
    @apply translate-y-0 -rotate-45;
  }

  .navbar-dropdown-sections-open {
    animation: slide-down-fade-in 500ms ease-out forwards;
  }
}
