@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgba(0, 0, 0, 0.75);
}

/* Keyframes */

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slide-down-fade-in {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }

  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .center-fixed-div {
    left: 50%;
    transform: translateX(-50%);
  }

  /* Fonts */

  .font-family-header {
    font-family: var(--font-roboto-slab);
    @apply font-bold;
  }

  .font-family-secondary {
    font-family: var(--font-montserrat);
    @apply font-semibold;
  }

  .font-family-regular {
    font-family: var(--font-manrope);
    @apply font-normal;
  }

  .font-family-italic {
    font-family: var(--font-playfair-display);
    @apply font-normal italic;
  }

  .font-family-condensed {
    font-family: var(--font-roboto-condensed);
    @apply font-normal;
  }

  .glassmorph {
    background: rgba(86, 86, 86, 0.25);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }

  .glassmorph-padding {
    padding: 2rem;
  }

  .text-shadow-gold {
    text-shadow: 0px 4px 15px theme("colors.gold");
  }

  .text-shadow-gold-sm {
    text-shadow: 0px 4px 15px rgba(178, 139, 74, 0.25);
  }

  /* Carousel styles */

  .carousel-icon-disabled {
    fill: #4d4d4d;
  }

  .carousel-icon-enabled {
    fill: #000000;
  }

  .carousel-dot-selected {
    background-color: #000000;
  }

  @media (prefers-color-scheme: dark) {
    .carousel-icon-disabled {
      fill: #b3b3b3;
    }

    .carousel-icon-enabled {
      fill: #ffffff;
    }

    .carousel-dot-selected {
      background-color: #ffffff;
    }
  }

  /* Animations */

  .fade-in {
    animation: fade-in 0.5s forwards;
  }

  .slide-down-fade-in {
    animation: slide-down-fade-in 0.5s forwards;
  }

  .fade-out {
    animation: fade-out 0.5s forwards;
  }
}

@layer components {
  .burger-menu {
    @apply block h-1 w-8 bg-white duration-500;
  }

  .burger-menu::before,
  .burger-menu::after {
    @apply absolute block h-1 w-8 bg-white duration-500 content-[''];
  }

  .burger-menu::before {
    @apply -translate-y-2;
  }

  .burger-menu::after {
    @apply translate-y-2;
  }

  .burger-menu-open .burger-menu {
    @apply -translate-x-16 bg-opacity-0 duration-500;
  }

  .burger-menu-open .burger-menu::before,
  .burger-menu-open .burger-menu::after {
    @apply translate-x-16 duration-500;
  }

  .burger-menu-open .burger-menu::before {
    @apply translate-y-0 rotate-45;
  }

  .burger-menu-open .burger-menu::after {
    @apply translate-y-0 -rotate-45;
  }

  .navbar-dropdown-sections-open {
    animation: slide-down-fade-in 500ms ease-out forwards;
  }
}
